@import "tailwindcss";

/* Global styles */
body {
  @apply  text-gray-800;
}

/* Reusable components */
.input {
  @apply w-full border border-gray-300 rounded px-3 py-2
         focus:outline-none focus:ring-2;
}

.btn-primary {
  @apply  text-white px-4 py-2 rounded
         hover:bg-blue-700 transition;
}

.card {
  @apply bg-white rounded shadow p-4;
}

.sidebar-link {
  @apply flex items-center gap-3 px-4 py-2
          hover:text-white
         rounded transition;
}

.sidebar-active {
  @apply text-white;
}

.table-th {
  @apply text-left px-4 py-2 border-b font-semibold;
}

.table-td {
  @apply px-4 py-2 border-b;
}
